# Logs
logs
*.log
pnpm-debug.log*

# Folder
node_modules
dist
dist-ssr
.local
.turbo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 